body{
    background-color: chocolate;
    font: normal 20pt arial;
    color: white;
}
header{
    text-align: center;
}
section{
    background: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px darkmagenta;
    color: black;
}
div{
    text-align: center;
    padding: 4px;
    /*padding: 8px;*/
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}